{$SCHOLENS_DOMAIN} {
	log {
		output stdout
		format json
	}
	encode zstd gzip

	@internal_health path /livez /livez/ /readyz /readyz/
	respond @internal_health 404

	handle /api/v1/* {
		reverse_proxy scholens-api:8000
	}

	handle /webhooks/v1/* {
		reverse_proxy scholens-api:8000
	}

	handle {
		reverse_proxy scholens-client:3000
	}
}
